{% load static %}
{% include 'toolbox/_header.html'%}
{% block csslink %}
{% endblock %}
</head>
<body data-type="index">
    <script src="{% static 'toolbox/js/theme.js' %}"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="{% static 'toolbox/img/logoa.png' %}" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">


                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a>Welcome <span>{{userName}}</span> </a>
                        </li>


                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <span class="am-icon-sign-out"></span> Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel" style="padding-left:30%">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="{% static 'toolbox/img/user04.png' %}" alt="">
                    </div>
                    <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> Account setting</a>
                </div>
            </div>

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-heading">Components</li>
                <li class="sidebar-nav-link">
                    <a href="./content" id="contentManagement">
                        <i class="am-icon-user sidebar-nav-link-logo" ></i> Content management
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="./user" id="userManagement">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> User management
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="./calendar" id="calendarManagement">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> Calendar management
                    </a>
                </li>



            </ul>
        </div>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper mainContent">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>{% block title %} Home {% endblock %} <small>Fossick toolbox system</small></div>
                    </div>
                </div>

            </div>

            {% block main %}

            {% endblock %}


        </div>
    </div>
    {% block popup %}
    {% endblock %}

{% include 'toolbox/_footer.html'%}